<app-navbar></app-navbar>
<div class="container" >
  <div class="row d-flex justify-content-evenly" id="home-container">
    <div class="card col-xs-10 col-md-5 mt-3">
      <div class="card-body">
        <h5 class="card-title">Creazione spedizioni</h5>
        <p class="card-text">Sezione dedicata alla creazione di spedizioni e relativa creazione di fatture.</p>
        <div class="d-flex justify-content-end">
          <a  class="btn btn-primary" [routerLink]="['/spedizioni']">Go to</a>
        </div>
      </div>
    </div>
    <div class="card col-xs-10 col-md-5 mt-3">
      <div class="card-body">
        <h5 class="card-title">Sezione personale</h5>
        <p class="card-text">Sezione dedicata ai tuoi dati personali inseriti nel database aziendale.</p>
        <div class="d-flex justify-content-end">
          <a  class="btn btn-primary" [routerLink]="['/operatore']">Go to</a>
        </div>
      </div>
    </div>
    <div class="card col-xs-10 col-md-5 mt-3 ">
      <div class="card-body">
        <h5 class="card-title">Organico</h5>
        <p class="card-text">Visualizza tutti i membri del tuo team.</p>
        <div class="d-flex justify-content-end">
          <a  class="btn btn-primary" [routerLink]="['/organico']">Go to</a>
        </div>
      </div>
    </div>
    <div class="card col-xs-10 col-md-5 mt-3 ">
      <div class="card-body">
        <h5 class="card-title">Clienti</h5>
        <p class="card-text">Elenco portfolio Clienti aziendale.</p>
        <div class="d-flex justify-content-end">
          <a  class="btn btn-primary" [routerLink]="['/clienti']">Go to</a>
        </div>
      </div>
    </div>
    <div class="card col-xs-10 col-md-5 mt-3 ">
      <div class="card-body">
        <h5 class="card-title">Trasporti</h5>
        <p class="card-text">Elenco contatti di tutti i nostri Trasportatori.</p>
        <div class="d-flex justify-content-end">
          <a  class="btn btn-primary" [routerLink]="['/trasportatori']">Go to</a>
        </div>
      </div>
    </div>
    <div class="card col-xs-10 col-md-5 mt-3 ">
      <div class="card-body">
        <h5 class="card-title">Stock</h5>
        <p class="card-text">Panoramica di giacenze di magazzino.</p>
        <div class="d-flex justify-content-end">
          <a  class="btn btn-primary" [routerLink]="['/stock']">Go to</a>
        </div>
      </div>
    </div>
    <div class="card col-xs-10 col-md-5 mt-3 ">
      <div class="card-body">
        <h5 class="card-title">Gestione aziendale</h5>
        <p class="card-text">Modifica e aggiornamento stock in entrata e in uscita.</p>
        <div class="d-flex justify-content-end">
          <a  class="btn btn-primary" [routerLink]="['/gestione-aziendale']">Go to</a>
        </div>
      </div>
    </div>
    <div class="card col-xs-10 col-md-5 mt-3 ">
      <div class="card-body">
        <h5 class="card-title">Archivio spedizioni</h5>
        <p class="card-text">Visualizzazione dell'archivio di tutte le fatture aziendali.</p>
        <div class="d-flex justify-content-end">
          <a  class="btn btn-primary" [routerLink]="['/fatture']">Go to</a>
        </div>
      </div>
    </div>
  </div>
</div>

