p{
  font-family: 'Press Start 2P', cursive;
}
input{
  width: 200px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#utente{
  font-size: 25px;
}
