<app-navbar></app-navbar>
<h1 class="text-center mt-5">Organigramma Aziendale</h1>
 <div class="table-responsive text-nowrap">
  <table class="table table-striped align-middle mb-0 bg-white mt-3">
    <thead class="bg-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of userList | sortByOrder">
      <tr>
        <td scope="row">
          <div class="d-flex align-items-center">
            <i class="fas fa-user-alt text-success"></i>
            <div class="ms-3">
              <p class="fw-bold mb-1">{{user.name | titlecase}} {{user.lastname | titlecase}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1 fw-bold">{{user.username | titlecase}}</p>
        </td>
        <td> <p class="text-muted mb-0 fw-bold"><a [attr.href]="'mailto:'+user.email"> {{user.email}}</a></p></td>
        <td>
          <p class="fw-bold text-danger">{{user.id | number : "2.0"}} <ng-container *ngIf="ruoli.length == 3"><button type="button" class="btn btn-secondary ms-3" (click)="cancellaUtente(user.username)"><i class="far fa-trash-can"></i></button></ng-container></p>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
